<mat-card class="prerequisites-card">
    <mat-card-header>
        <mat-card-title class="prerequisites-card--title">
            Seems like you're just beginning using Shitshup UI ! <ng-content></ng-content>
        </mat-card-title>
        <mat-card-subtitle>You just need to create some base entities...</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="prerequisites-card--content">

        <div class="prerequisites-card--actions-list">
            <ng-content></ng-content>
        </div>
    </mat-card-content>
</mat-card>
