<shitshup-sidebar>
    <div sidebar-header class="sidebar-header">
        <div class="youtube-icon"></div>

        <span class="header-title">Youtube Config</span>
    </div>

    <ng-template [ngIf]="!(youtubeUser.id)" [ngIfElse]="alreadyLoggedIn">
        <mat-icon class="error-icon">warning</mat-icon>

        <span class="error-details">You haven't linked any Google account for Youtube processing operations</span>

        <button mat-flat-button class="login" (click)="auth()">Continue with Google</button>
    </ng-template>

    <ng-template #alreadyLoggedIn>
        <shitshup-youtube-user-icon [youtubeUser]="youtubeUser"></shitshup-youtube-user-icon>

        <span class="welcome">Hi, {{ youtubeUser.displayName }} !</span>

        <button class="logout" mat-flat-button (click)="logout()">Logout</button>

        <div *ngIf="!!youtubeShitshupPlaylists.pendingPlaylist.id"
             class="youtube-user-info">
            <h3>Shitshup Playlists</h3>
            <mat-list>
                <mat-list-item>
                    <img matListItemIcon class="youtube-user-playlist--icon"
                         [src]="youtubeShitshupPlaylists.pendingPlaylist.thumbnailUrl">
                    <span matListItemTitle>Pending Videos Playlist</span>
                    <span matListItemLine class="youtube-user-playlist--title">
                        {{ youtubeShitshupPlaylists.pendingPlaylist.title }}
                    </span>
                    <span matListItemLine class="youtube-user-playlist--description">
                        {{ youtubeShitshupPlaylists.pendingPlaylist.description }}
                    </span>
                    <span matListItemLine class="youtube-user-playlist--id">
                        {{ youtubeShitshupPlaylists.pendingPlaylist.id }}
                    </span>
                </mat-list-item>
            </mat-list>
        </div>
    </ng-template>

</shitshup-sidebar>
