.sidebar-header {
    display: flex;
    flex-direction: row;

    .notion-icon {
        width: 48px;
        height: 48px;
        margin: 8px;

        background-image: url('../../../../assets/notion-logo.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .header-title {
        align-self: center;
    }

}
