@import "../../../../../assets/styles/colors";

.notion-prerequisite {
    border-radius: 8px;
    background-color: $accent-color;
    padding: 8px;
    height: calc(100% - (8px + 16px));
    min-width: 256px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .notion-prerequisite--header {
        display: flex;
        flex-direction: row;

        .notion-prerequisite--icon {
            background-image: url('../../../../../assets/notion-logo.svg');
            background-size: cover;
            width: 48px;
            min-width: 48px;
            height: 48px;
            min-height: 48px;
        }

        .notion-prerequisite--title {
            align-self: center;
            font-size: 24px;
            margin: 0 8px;

            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }
    }

    .notion-prerequisite--content {
        margin: 0 8px;

        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .notion-prerequisite--button {
        button {
            float: right;
        }

        .notion-prerequisite--button--progress {
            .progress-spinner {
                width: 24px !important;
                height: 24px !important;
            }
        }

        .notion-prerequisite--button--done {
            .done-icon {
                margin-left: auto;
                width: 24px;
                height: 24px;
                font-size: 24px;
            }
        }
    }
}
