<mat-card class="about-me-card">
    <mat-card-header>
        <div mat-card-avatar class="about-me-avatar"></div>
        <mat-card-title>Jean-Marc DEBICKI</mat-card-title>
        <mat-card-subtitle>About Shitshup UI and me...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="about-me-content">
        <h3>Thanks for using Shitshup UI !</h3>

        <p>
            This app is designed to facilitate multiple track processing actions.
            Instead of downloading, analyzing, seperating the stems and regrouping everything on a basic spreadsheet,
            Shitshup allows you to do everything at once.
        </p>

        <h3>Why Shitshup UI ?</h3>

        <p>

            After two MEGAMASHUPS (available on my YouTube Channel), I was concerned about having the latest meme musics
            in order to stay in touch
            with the viewers. But as the trends come and goes, I found that repeating the basic tasks of downloading,
            analyzing, spleeting the tracks,... were becomming to feel overwhelming.
            So I created this app in order to facilitate and automate the different tasks.
        </p>

        <h3>Who am I ?</h3>

        <p>
            Hi ! I'm Jean-Marc DEBICKI, creator of the Shitshup UI app. I'm a freelancer and i'm looking for new
            challenges in web developpement !
            I'm specialized in Angular, Typescript, RxJS, Nest.js and many more programming languages & frameworks !
            Feel free to contact my via LinkedIn or my other social networks !
        </p>
    </mat-card-content>
    <mat-card-actions class="about-me-social">
        <a href="https://www.linkedin.com/in/jean-marc-debicki/" target="_blank" rel="noopener noreferrer"
           mat-fab color="primary">
            <div class="linkedin-logo-white"></div>
        </a>
        <a href="https://www.youtube.com/channel/UC3_Fizc7oEkrIjBmUd8Z--w" target="_blank" rel="noopener noreferrer"
           mat-fab color="primary">
            <div class="youtube-logo-white"></div>
        </a>
        <a href="https://soundcloud.com/jimeme-341015491" target="_blank" rel="noopener noreferrer"
           mat-fab color="primary">
            <div class="soundcloud-logo-white"></div>
        </a>
        <a href="https://github.com/Moinketroa" target="_blank" rel="noopener noreferrer"
           mat-fab color="primary">
            <div class="github-logo-white"></div>
        </a>
    </mat-card-actions>
</mat-card>
