<mat-card class="welcome-card">
    <mat-card-header>
        <mat-card-title>Welcome to Shitshup UI !</mat-card-title>
    </mat-card-header>
    <mat-card-content class="welcome-card-content">
        <h3>Requirements</h3>

        <p>
            This app downloads YouTube video from a specific YouTube playlist from your account, and converts them to .mp3 files.
            If you want to use this app at its fullest, you'll need :
        </p>

        <ul>
            <li>YouTube channel (mandatory)</li>
            <li>Linux or Windows OS : used to perform musical analysis via Essentia (optionnal)</li>
            <li>Notion account : used to save the result in a Notion database (optionnal)</li>
            <li>Dropbox account : used to embed audio files to the corresponding Notion database rows (optionnal)</li>
        </ul>

        <h3>How to use</h3>

        <p>
            First, authenticate yourself with your YouTube channel and follow the next instructions. This app will automate
            the creation of the playlist that Shitshup UI will use for the downloads.
        </p>

        <p>
            Next, you'll have access to different sections :
        </p>

        <ul>
            <li>The ability to process one or multiple videos at once. Either from a unique link or ID, or from the playlist.</li>
            <li>Tasks : indications about the progress of your processes</li>
            <li>Warnings : will tell you what's going wrong</li>
            <li>Camelot Wheel conversion : helper tool used to better match your audios</li>
        </ul>

        <h3>Special Thanks</h3>

        <p>This app uses MTG's Essentia library : a wonderful library that performs easy-to-use audio analysis !</p>
        <p>This app uses two libraries for Chords conversions : regorxxx's Camelot-Wheel-Notation & jackbittiner's camelot-wheel !</p>
    </mat-card-content>
</mat-card>
