.dropbox-user-icon-btn,
.no-dropbox-user-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../../../assets/dropbox.svg');
}

.dropbox-config-settings-badge,
.no-dropbox-user-alert-badge {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;

    border-radius: 50%;

    justify-content: center;
    align-items: center;

    mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
}

.dropbox-user-icon-btn {

    .dropbox-config-settings-badge {
        background-color: green;
    }

}

.no-dropbox-user-btn {
    outline: red solid 2px;

    .no-dropbox-user-alert-badge {
        background-color: red;
    }
}
