@import "../../../assets/styles/colors";

:host {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 0;

    height: 100vh;
    width: 384px;

    box-shadow: -2px 0px 8px 0px $divider;
    background-color: $background-color;

    color: $text-color;

    .sidebar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        background-color: $panel-color;

        border-bottom-style: solid;
        border-bottom-color: $divider;
        border-bottom-width: 2px;

        .close-sidebar-button {
            margin: 8px;
        }
    }

    .sidebar-content {
        display: flex;
        flex-direction: column;

        width: 100%;
        align-items: center;

        padding: 16px 0;

        overflow-y: auto;
    }
}
