@import "../../../../assets/styles/colors";

:host {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.warnings-progress-card {
    width: 100%;
    height: 100%;
    max-height: 100%;

    .warnings-progress-card--title {
        color: $text-color;
    }

    .warnings-progress-card--content {
        max-height: calc(100% - (70px));
        height: calc(100% - (70px));
        padding-top: 16px;

        .warnings-progress-card--content--no-data {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

}

::ng-deep {
    .warnings-table {
        max-height: 100%;

        .warnings-table--cell {
            background-color: $light-background-color;
        }

        .warnings-table--type--header,
        .warnings-table--type--cell {
            width: 160px;
            max-width: 160px;
        }

        .warnings-table--video-id--header,
        .warnings-table--video-id--cell {
            width: 144px;
            max-width: 144px;
        }
    }

    .p-treetable-scrollable-header-box {
        background-color: $light-background-color;
    }

    .p-treetable-scrollable-body {
        background-color: $light-background-color;
        max-height: calc(100% - 44px);
    }
}
