<mat-card class="warnings-progress-card">
    <mat-card-header>
        <mat-card-title class="warnings-progress-card--title">
            Video Warnings
        </mat-card-title>
        <mat-card-subtitle>You can check here if some videos were unable to finish the process</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="warnings-progress-card--content">
        <ng-container [ngTemplateOutlet]="table"></ng-container>
    </mat-card-content>
</mat-card>

<ng-template #table>
    <ng-template [ngIf]="warnings" [ngIfThen]="tableWithData" [ngIfElse]="tableEmpty"></ng-template>
</ng-template>

<ng-template #tableWithData>
    <p-treeTable *ngIf="warnings" [value]="warnings!"
                 [scrollable]="true" scrollHeight="flex"
                 sortField="createDate" [sortOrder]="-1"
                 styleClass="warnings-table">
        <ng-template pTemplate="header">
            <tr>
                <th class="warnings-table--cell warnings-table--type--header">
                    Type
                </th>
                <th class="warnings-table--cell warnings-table--video-id--header">
                    Video ID
                </th>
                <th [ttSortableColumn]="'createDate'"
                    class="warnings-table--cell warnings-table--create-date--header">
                    Created at
                    <p-treeTableSortIcon [field]="'createDate'"></p-treeTableSortIcon>
                </th>
                <th class="warnings-table--cell">
                    Warning Message
                </th>
                <th class="warnings-table--cell warnings-table--actions--header">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td class="warnings-table--cell warnings-table--type--cell">
                    {{ [rowData.warningType] }}
                </td>
                <td class="warnings-table--cell warnings-table--video-id--cell">
                    {{ rowData.videoId }}
                </td>
                <td class="warnings-table--cell warnings-table--create-date--cell">
                    {{ rowData.createDate }}
                </td>
                <td class="warnings-table--cell">
                    {{ rowData.warningMessage }}
                </td>
                <td class="warnings-table--cell warnings-table--actions--cell">
                    <div class="actions-wrapper">
                        <button (click)="replayProcessing(rowData.videoId)" mat-mini-fab matTooltip="Replay" color="primary" aria-label="Replay">
                            <mat-icon>replay</mat-icon>
                        </button>
                        <button mat-mini-fab matTooltip="Delete" color="warn" aria-label="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</ng-template>

<ng-template #tableEmpty>
    <div class="warnings-progress-card--content--no-data">
        No warnings ! For now...
    </div>
</ng-template>
