<mat-icon class="error-icon">warning</mat-icon>

<span class="no-notion-config-details">You don't have any connexion to a Notion Workspace. Please create a Notion config.</span>

<mat-accordion multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Create Notion Config
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon>settings</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="createNotionConfigForm">
            <mat-form-field class="internal-integration-token-field" appearance="fill">
                <mat-label>Internal Integration Token</mat-label>
                <input formControlName="internalIntegrationToken" matInput>
                <mat-icon matSuffix>token</mat-icon>
                <mat-hint>Notion Integration Token. Find more about Notion integration Setup...</mat-hint>
            </mat-form-field>

            <mat-form-field class="root-block-id-field" appearance="fill">
                <mat-label>Notion Root Page ID</mat-label>
                <input formControlName="rootBlockId" matInput>
                <mat-icon matSuffix>description</mat-icon>
                <mat-hint>Make sure to connect this page with your integration. Find more about Notion
                    integration Setup...
                </mat-hint>
            </mat-form-field>
        </form>

        <mat-action-row class="action-row">
            <button mat-button color="primary"
                    [disabled]="createNotionConfigForm.invalid"
                    (click)="createNotionConfig()">
                Submit
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
