:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.notion-config-details {
    margin: 8px 0 16px 0;
    text-align: center;
}

.notion-config-wrapper {
    margin-left: 16px;

    .notion-media-library--description {
        font-size: small;
        font-weight: bold;
        text-wrap: wrap;
        display: inline-flex;
        margin-left: 4px;
    }

    .notion-media-library--id {
        font-size: 12px;
        line-height: 12px;
        text-align: end;
    }
}


.mat-accordion {
    display: flex;
    width: 100%;
    margin-left: -8px;

    .mat-expansion-panel-header-description {
        flex-grow: 0;

        .mat-icon {
            margin-left: auto;
        }
    }

    .mat-mdc-form-field {
        width: 100%;
    }

}

.internal-integration-token-field {
    margin-top: 16px;
}

.root-block-id-field {
    margin-top: 24px;
}

.action-row {
    margin-top: 32px;
}
