<shitshup-header></shitshup-header>

<div class="dashboard--wrapper">
    <mat-grid-list cols="8" rowHeight="256px" gutterSize="16px" class="dashboard--tile-list">
        <mat-grid-tile colspan="8" rowspan="1" *ngIf="showPrerequisites" class="dashboard-prerequisites--tile">
            <shitshup-prerequisites-tile>
                <shitshup-notion-prerequisite *ngIf="showNotionPrerequisite"></shitshup-notion-prerequisite>
                <shitshup-youtube-prerequisite *ngIf="showYoutubePrerequisite"></shitshup-youtube-prerequisite>
            </shitshup-prerequisites-tile>
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="1" class="dashboard-process-pending--tile">
            <shitshup-process-pendings-tile *ngIf="showProcessPendings"
                                            [pendingPlaylistPreview]="pendingPlaylistPreview">
            </shitshup-process-pendings-tile>
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2" class="dashboard-task-progress--tile">
            <shitshup-task-progress-tile *ngIf="showTaskProgress"></shitshup-task-progress-tile>
        </mat-grid-tile>
    </mat-grid-list>
</div>
