<mat-card class="task-progress-card">
    <mat-card-header>
        <mat-card-title class="task-progress-card--title">
            Process Tasks Status
        </mat-card-title>
        <mat-card-subtitle>You can track here the progress of your videos' processing</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="task-progress-card--content">
        <ng-container [ngTemplateOutlet]="treeTable"></ng-container>
    </mat-card-content>
</mat-card>

<ng-template #treeTable>
    <p-treeTable *ngIf="taskTrees" [value]="taskTrees!"
                 [scrollable]="true" scrollHeight="flex"
                 sortField="createDate" [sortOrder]="-1"
                 styleClass="task-progress-tree-table">
        <ng-template pTemplate="header">
            <tr>
                <th class="task-progress-tree-table--cell">Name</th>
                <th [ttSortableColumn]="'createDate'"
                    class="task-progress-tree-table--cell task-progress-tree-table--create-date--header">
                    Created at
                    <p-treeTableSortIcon [field]="'createDate'"></p-treeTableSortIcon>
                </th>
                <th class="task-progress-tree-table--cell task-progress-tree-table--progress--header">
                    Progress
                </th>
                <th class="task-progress-tree-table--cell task-progress-tree-table--status--header">
                    Status
                </th>
                <th class="task-progress-tree-table--cell task-progress-tree-table--actions--header">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td class="task-progress-tree-table--cell">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{ rowData.label }}
                </td>
                <td class="task-progress-tree-table--cell task-progress-tree-table--create-date--cell">
                    {{ rowData.createDate }}
                </td>
                <td class="task-progress-tree-table--cell task-progress-tree-table--progress--cell">
                    <mat-progress-bar mode="determinate" color="accent" [value]="rowData.progress * 100">
                    </mat-progress-bar>
                </td>
                <td class="task-progress-tree-table--cell task-progress-tree-table--status--cell">
                    <ng-container [ngTemplateOutlet]="statusIcon"
                                  [ngTemplateOutletContext]="{
                                    progress: rowData.progress,
                                    hasFailed: rowData.hasFailed,
                                  }">
                    </ng-container>
                </td>
                <td class="task-progress-tree-table--cell task-progress-tree-table--actions--cell">
                    <button (click)="deleteTask(rowData.id)"
                            [disabled]="!(rowData.hasFailed || rowData.progress >= 1)"
                            mat-mini-fab matTooltip="Delete" color="warn"
                            aria-label="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</ng-template>

<ng-template #statusIcon let-progress="progress" let-hasFailed="hasFailed">
    <ng-template [ngIf]="hasFailed" [ngIfElse]="nominalStatus">
        <mat-icon class="fail-icon">close</mat-icon>
    </ng-template>

    <ng-template #nominalStatus>
        <ng-template [ngIf]="progress >= 1" [ngIfElse]="inProgress">
            <mat-icon class="done-icon">done</mat-icon>
        </ng-template>

        <ng-template #inProgress>
            <mat-icon class="in-progress-icon">pending</mat-icon>
        </ng-template>
    </ng-template>
</ng-template>
